
.note-list {
    padding-left: 0;
}
.note-li {
    padding: 5px 7px 5px 7px;
    width: 100%;
    list-style-type: none;
    font-size: 15px;
}
.note-li:hover {
    background-color: #d6d6d6 !important;
}
.folder-list {
    padding-left: 0;
}
.folder-li {
    background-color: #90C3D4;
    width: 100%;
    padding: 5px 7px 5px 7px;
    color: white;
    font-size: 15px;
    list-style-type: none;
}
.folder-li:hover {
    background-color: #4B9ADE;
}
#drop-notes {
    width: 100% !important;
}
.btn-clear {
    border: none !important;
    background-color: transparent !important;
    padding: 0;
    margin: 0;
}
@media(max-width: 992px) {
    .mobile-btn {
        width: 100% !important;
        margin-top: 10px;
    }
    .btn {
        padding: 15px !important;
    }
}
@media(max-width: 575px) {
    #folders {
        display: none;
    }
    .note-li, .folder-li {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}